/* Universal Reset for the Html document */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  /* Rest the default 16px to 10px so thta we can be able to use rem */
  font-size: 62.5%;
}

.container {
  margin: 0 auto;
  background-color: rgb(133, 176, 133);
  height: 100vh;
}

.header nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  padding: 0.5rem 1rem;
}

.header button {
  border: none;
  padding: 0.8rem 3.2rem;
  color: black;
  cursor: pointer;
  font-size: 2.3rem;
  background-color: white;
  font-weight: 900;
}
.header a:link, a:visited {
  text-decoration: none;
  display: inline-block;
  padding: 0.8rem 3.2rem;
  color: black;
  cursor: pointer;
  font-size: 2.5rem;
  background-color: white;
  font-weight: 900;
}
.header a:hover {
  color: rgb(234, 9, 46);

}

.container .header .color-flipper {
  color: aqua;
}

.header button:hover {
  color: rgb(234, 9, 46);
}

.change {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30vh;
  flex-direction: column;
  gap: 2rem;
}

.change h1 {
  font-size: 3rem;
  padding: 1rem 2rem;
  background-color: rgba(0, 0, 0, 0.661);
  color: white;
  border-radius: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}
.change span {
  color: rgb(238, 13, 189);
  font-size: 2.5rem;
  font-weight: 900;
}
.change button {
  /* border: none; */
  padding: 1rem 3.2rem;
  color: black;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 0.5rem;
  font-size: 2rem;
  transition: all 0.4s;
}
.change button:hover {
  transform: scale(1.05);
}
